{% extends '/Templates/default.twig' %}

{% block title %}

    <title>{{ variable.article.title }} - Mon blog</title>

{% endblock %}


{% block content %}

    <h1>{{ variable.article.title }}</h1>

    <p><em>{{ variable.article.category }}</em></p>

    <p>{{ variable.article.content }}</p>

{% endblock %}