{% extends '/Templates/default.twig' %}

{% import '/Templates/form.twig' as form %}

{% block title %}

    <title>Editer un article - {{ nameapp }}</title>

{% endblock %}

{% block content %}

<form method="post">

    {{ form.input('title', 'Titre de l\'article', variable.form.data.title)}}

    {{ form.select('category_id', 'Catégorie', variable.categories, variable.form.data.category_id)}}

    {{ form.textarea('content', 'Contenu', variable.form.data.content) }}

    <button class="btn btn-primary">Sauvegarder</button>

</form>

{% endblock %}

{% block scriptinit %}
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=cbfx0ep5lcohvteavfun8ejmo5gc38ggf78zckvui9de9c86"></script>
    <script>
        tinymce.init({
            selector: 'textarea#content',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tiny.cloud/css/codepen.min.css'
            ]
        });
    </script>
{% endblock %}
