{% extends '/Templates/default.twig' %}

{% import '/Templates/form.twig' as form %}

{% block title %}

    <title>Se Connecter - Mon blog</title>

{% endblock %}

{% block content %}

    {% if session.get('error') %}
        <div class="alert alert-danger">

        {{ session.get('error') }}

        </div>
    {% endif %}

<form method="post">

    {{ form.input('username', 'Votre identifiant', name)}}

    {{ form.input('password', 'Votre mot de passe', email, {type: 'password'}) }}

    <button class="btn btn-primary">Envoyer</button>

</form>

{% endblock %}