{% extends '/Templates/default.twig' %}

{% import '/Templates/form.twig' as form %}

{% block title %}

    <title>Editer catégorie - Mon blog</title>

{% endblock %}

{% block content %}

<form method="post">

    {{ form.input('title', 'Titre de la catégorie', variable.form.data.title)}}

    <button class="btn btn-primary">Sauvegarder</button>

</form>

{% endblock %}